{% extends 'base.html.twig' %}

{% block title %}Bienvenu!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Mon site E-commerce !</h1>

    Voir mes produits:
    <ul>
        <li> Se connecter :<code><a href="{{ '/login'}}">cliquez-ici</a></code></li>
        <li> S'inscrire :<code><a href="{{ '/inscription'}}">cliquez-ici</a></code></li>
        <li> La boutique :<code><a href="{{ '/boutique'}}">cliquez-ici</a></code></li>
        
</div>
{% endblock %}
