{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}
<h1>Mes produits </h1>

{% for prod in produits %}
    
<h1>{{ produits.name }} </h1>
<strong>{{ produits.prix }}</strong>
<p> {{ produits.description}}</p>
{% endfor %}

{% endblock %}
