{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}
<h1>Mes produits </h1>

{% for produits in prod %}
    
<h1>{{ produits.nom }} </h1>
<strong>{{ produits.prix }}</strong>
<p> {{ produits.description}}</p>
<hr>
{% endfor %}

{% endblock %}
